[v-cloak] {
    display: none;
}

.tag-input-wrapper {
    overflow: hidden;
}

.tag-input-wrapper input {
    width: 100%;
}

#searchPrediction {
    position: absolute;
    z-index: 10001;
    background-color: white;
}

#searchPrediction li {
    border: 1px solid;
    margin-left: 0.5px;
    margin-right: 0.5px;
    padding: 5px;
    cursor: pointer;
}

#historyMark {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin-right: 6px;
}


.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3%
}

.searchButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    color: #222;
    background-color: #efefef;
    border-radius: 5%;
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 24%);
}

@media (any-hover: hover) {
    .searchButton button {
        transition: box-shadow 0.2s;
    }

    .searchButton button:hover {
        box-shadow: -2px -2px 4px #fff, 2px 2px 4px rgb(0 0 0 / 24%);
    }

    .searchButton button:active {
        background-color: #ebebeb;
        box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
    }
}