h1 {
    color: green;
}
body {
    background: white url("../images/background.png") no-repeat;
}
.infinite-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  .infinite-item {
    scroll-snap-align: start;
  }