h1 {
    color: green;
}
body {
    background: white url("../images/background.png") no-repeat;
    overflow: hidden;
}
.infinite-container {
    scroll-behavior: smooth;
    width: 100%;
    height: 800;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    position: relative;
}
.infinite-item {
    height: 800;
    scroll-snap-align: start;
    position: relative;
}
.infinite-item img {
    width:50px;height:50px;
    position:absolute;left:100px;top:30px;/*親要素に対する位置指定*/
    cursor:pointer;/*カーソルを指に変更*/
    z-index:1;
    object-fit: cover;
    border-radius: 80%;
    background-color: rbga(0,0,0,0.2);
    opacity: 0.8;
}
.serch {
    position: fixed;
    top: 30;left: 30;
    z-index: 1;
}
.serch img {
    width:6%;height: 5.5%;
}
.edit {
    position: fixed;
    top: 30;left: 70;
    z-index: 1;
}
.edit img {
    width:6%;height:8%;
}
/*パソコン画面の設定*/
@media screen and (min-width: 768px) {
    .infinite-container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

}