body {
  overflow: hidden;
  user-select: none;
  background-color: black;
}

<<<<<<< HEAD

/* .loading {
    position: absolute;
    background-color: gray;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 999999999;
} */
@media screen and (max-width: 768px) {
=======
>>>>>>> e88fedae44b531c592f70d3b2e0947e9b7ab370a
.tutorial {
  position: absolute;
  background-color: gray;
  height: 100%;
  width: 100%;
  z-index: 99999;
  opacity: 0.6;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*スクロール全体の場所*/
.scrolldown2 {
  /*描画位置*/
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  top: -8.5px;
  /*丸の形状*/
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eee;
  z-index: 99999999;
  animation:
    /* circlemove 1.6s ease-in-out infinite, */
    circlemoveright 1.5s ease-in-out infinite,
    circlemovehide 1.5s ease-out infinite;
}

@keyframes circlemove {
  0% {
    bottom: 45px;
  }

  100% {
    bottom: -5px;
  }
}

/*右から左にかけて丸が透過→不透明→透過する*/
@keyframes circlemovehide {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes circlemoveright {
  0% {
    right: -8;
  }

  100% {
    right: 202px;
  }
}


.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 50%;
  right: 0;
  /*線の形状*/
  width: 210px;
  height: 2px;
  background: #eee;
}
}

.infinite-container {
  background-color: black;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  position: relative;
}

.infinite-container::-webkit-scrollbar {
  display: none;
}

.infinite-item {
  margin-bottom: 4px;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: flex;
  justify-content: center;
}

.infinite-item video {
  aspect-ratio: 9/16;
  height: 100%;
  overflow: hidden;
  background-color: gray;
}

.infinite-item p {
  position: absolute;
}

@keyframes slideIn {
  from {
    left: 100%;
  }

  to {
    opacity: 50%;
  }
}

.animateSlideIn {
  animation: slideIn 0.3s ease 0s 1 normal forwards
}

#leftMenu {
<<<<<<< HEAD
    position: fixed;
    display: flex;
    height: 97%;
    width: 75%;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: darkgray;
    z-index: 9999;
    border: 2px solid black;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box;
    overflow: hidden;
}
#good {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
=======
  position: fixed;
  height: 97%;
  width: 73%;
  right: 0%;
  top: 50%;
  transform: translate(100%, -50%);
  background-color: darkgray;
  z-index: 9999;
  border: 2px solid black;
  border-radius: 10px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  box-sizing: border-box;
  overflow: hidden;
}

.menuTransition {
  transition: right .4s ease-out, opacity .3s ease-in-out;
>>>>>>> e88fedae44b531c592f70d3b2e0947e9b7ab370a
}

#share {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
}


#menuContainer {
  position: relative;
  height: 96%;
  width: 98%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#relations {
  height: 80%;
  border: 2px solid black;
  margin-bottom: 0.3%;
}

#tags {
  height: 10%;
  border: 2px solid black;
}
#description {
  height: 10%;
  border: 2px solid black;
  margin-top: auto;
  border: #1da1f2;
}

#buttons {
  height: 10%;
  border: 2px solid black;
  margin-top: 0.3%;
  display: flex;
  justify-content: space-around;
}
#buttton {
    height: 10%;
    border: 2px solid black;
    margin-top: 0.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.serch {
  position: relative;
  z-index: 1;
}

.serch img {
  width: 100%;
  height: 100%;
}

.edit {
  position: relative;
  z-index: 1;
}

.edit img {
  width: 100%;
  height: 100%;
}

.delete {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
.menuInTutorial {
  animation: leftMenuOpen 1.5s ease-in-out infinite;
}

@keyframes leftMenuOpen {
  0% {
    right: 0%;
    opacity: 0;
  }

  85% {
    right: 40%;
    opacity: 1;
  }

  100% {
    right: 0%;
    opacity: 0;
  }

}


#menuContainer {
  position: relative;
  height: 96%;
  width: 98%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#relations {
  height: 80%;
  border: 2px solid black;
  margin-bottom: 0.3%;
}

#tags {
  height: 10%;
  border: 2px solid black;
}
#description {
  height: 10%;
  border: 2px solid black;
  margin-top: auto;
  border: #1da1f2;
}

#buttons {
  height: 10%;
  border: 2px solid black;
  margin-top: 0.3%;
  display: flex;
  justify-content: space-around;
}
<<<<<<< HEAD
#buttton {
    height: 10%;
    border: 2px solid black;
    margin-top: 0.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
=======
>>>>>>> e88fedae44b531c592f70d3b2e0947e9b7ab370a

.serch {
  position: relative;
  z-index: 1;
}

.serch img {
  width: 100%;
  height: 100%;
}

.edit {
  position: relative;
  z-index: 1;
}

.edit img {
  width: 100%;
  height: 100%;
}

.delete {
  position: relative;
  z-index: 1;
}
.rippless_btn {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cccccc;
  box-shadow: 0 0 20px #ffffff;
  cursor: pointer;
}

.rippless_btn img {
  width: 60%;
}

.rippless_btn::before,
.rippless_btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border: #ff0000 solid 1px;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
  animation: rippleEffect 2s linear infinite;
}

.rippless_btn::after {
  animation-delay: 1s;
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
}

/* body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #16161d;
  display: flex;
  align-items: center;
  justify-content: center;
} */



/*パソコン画面の設定*/
@media screen and (min-width: 768px) {

  body {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    color: rgb(22, 24, 35);
    background-color: rgb(255, 255, 255);
    overscroll-behavior: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
  }

  @keyframes circlemoveright {
    0% {
      right: 0;
    }

    100% {
      right: 250px;
    }
  }

  .scrolldown2:after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 50%;
    right: 0;
    /*線の形状*/
    width: 250px;
    height: 2px;
    background: #eee;
  }

  .infinite-container {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    position: relative;
    left: 0;
  }

  .infinite-item {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    width: 100%;
  }

  .infinite-item video {
    aspect-ratio: 9/16;
    height: 100%;
  }

  .infinite-item p {
    position: absolute;
  }

  @keyframes slideIn {
    from {
      left: 100%;
    }

    to {
      opacity: 50%;
    }
  }

  .animateSlideIn {
    animation: slideIn 0.3s ease 0s 1 normal forwards;
  }

  /* .rippless_btn {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
    cursor: pointer;
  }

  .rippless_btn img {
    width: 60%;
  }

  .rippless_btn::before,
  .rippless_btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 100%;
    border: 1px solid #1da1f2;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    animation: rippleEffect 2s linear infinite;
  }

  .rippless_btn::after {
    animation-delay: 1s;
  }

  @keyframes rippleEffect {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  } */

  #leftMenu {
    position: fixed;
    height: 97%;
    width: 20%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: darkgray;
    z-index: 9999;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box;
  }


  #menuContainer {
    position: relative;
    height: 96%;
    width: 98%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #relations {
    height: 80%;
    border: 2px solid black;
    margin-bottom: 0.3%;
  }

  #tags {
    height: 10%;
    border: 2px solid black;
  }

  #buttons {
    height: 10%;
    border: 2px solid black;
    margin-top: 0.3%;
    display: flex;
    justify-content: space-around;
  }

  .serch {
    position: relative;
    z-index: 1;
  }

  .serch img {
    width: 100%;
    height: 100%;
  }

  .edit {
    position: relative;
    z-index: 1;
  }

  .edit img {
    width: 100%;
    height: 100%;
  }

  .delete {
    position: relative;
    z-index: 1;
  }
}

<<<<<<< HEAD
/* ローディング画面 */
/* .loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
} */
/* ローディングアニメーション */
/* @keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
=======
@media screen and (min-width: 500px) {

  #leftMenu {
    width: 40%;
    top: 50%;
    /* transform: translateY(-50%); */
>>>>>>> e88fedae44b531c592f70d3b2e0947e9b7ab370a
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading_pic {

  width: auto;
  height: 30%;
} */


/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background:#c0c0c0;
    text-align:center;
    color:#fff;
  }
  
  /* Loading画像中央配置　*/
  #splash_logo {
    width: 100%;
  }
  /* #splash_icon {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  /* Loading アイコンの大きさ設定　*/
  #splash {
    transition: 1s ease-in-out;
    display: flex;
  }
  #splash_logo img {
    transform: translateY(100%);
    top: 30%;
    width:100%;
    opacity: 0;
    transition: 1s ease-in-out;
  }

  .fadeUp{
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .fadeDown {
    opacity: 0 !important;
    transform: scale(0);
    border-radius: 50%;
  }
  #loader {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .loaded {
    opacity: 0;
    visibility: hidden;
  }