<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width">
        {% load static %}
        <link rel="stylesheet" href='https://unpkg.com/@acab/reset.css'>
        <link rel="stylesheet" href="{% static 'css/account.css' %}">
        <script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/@vueuse/shared"></script>
        <script src="https://unpkg.com/@vueuse/core"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{% static 'js/account.js' %}" defer></script>
        <title>サンプルページ</title>
    </head>
    <body>
        <div id="account">
            <button @click="request">request</button>
            <div id="profile">
            </div>
        </div>
    </body>
</html>