<!--ひとつ前のページへ戻る 好きに使って！-->

<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <link rel="stylesheet" href='https://unpkg.com/@acab/reset.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@vueuse/shared"></script>
    <script src="https://unpkg.com/@vueuse/core"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="{% static 'js/scroll.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cloudinary-core@2.10.3/cloudinary-core-shrinkwrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cloudinary-video-player@2.13.0/cld-video-player.min.js"></script>
    <title>サンプルページ</title>
  </head>
  <body>
    <div id="scroll">
      <div>
        <div ref="loadElement" data-video="{{ videos }}"></div>
      </div>
      
      <div id="fixed">
        <div id="leftMenu" ref="menu">
          <div id="menuContainer">
            <div id="relations"></div>
            <div id="tags"></div>
            <div id="buttons">
              <div class="serch">
                <a href="{% url 'videopost:serch' %}"><img src="{% static 'images/serch.png'%}" alt="検索"></a>
              </div>
              <div class="edit">
                <!--<a href="{% url 'videopost:edit' %}"><img src="{% static 'images/edit.png'%}" alt="投稿"></a>-->
                <a href="{% url 'videopost:check' %}"><img src="{% static 'images/edit.png'%}" alt="投稿"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="infinite-container" id="container" ref="container" @scrollend="ifLoad">
        <!--動画要素の表示-->
        <div v-for="(video,index) in dataList" class="infinite-item" :ref="videosRef">
          <video playsinline :src="blobVideos[index]" height="100%" autoplay></video>
        </div>
        {% comment %} {% for video in object_list %}
        <section class="infinite-item">
            <p style="width:70%; word-wrap:break-word;">{{ video.title }}</p>
            <video playsinline src="https://res.cloudinary.com/dhlsaygev/video/upload/{{ video.video }}.mp4" height="100%" autoplay></video>
            <!--動画の上に画像の表示-->
            <div class="overlay"></div>
        </section>
        {% endfor %} {% endcomment %}
      </div>
    </div>
  </body>
</html>