{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--ひとつ前のページへ戻る 好きに使って！-->
<a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>

<html>
  <head>
    <title>サンプルページ</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href='https://unpkg.com/@acab/reset.css'>
    <link rel="stylesheet" href="{% static 'css/check.css' %}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@vueuse/shared"></script>
    <script src="https://unpkg.com/@vueuse/core"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/check.js' %}" defer></script>
  </head>
  <body>

    <!--view.pyのget_context_data関数からデータを持ってくる-->
    <h1>{{title}}</h1>

    <!--画面遷移-->
    <ul>
        <li><a href="{% url 'videopost:index' %}">メインhtml</a></li>
        <li><a href="{% url 'videopost:serch' %}">検索html</a></li>
        <li><a href="{% url 'videopost:edit' %}">編集html</a></li>
        <li><a href="{% url 'videopost:check' %}">確認html</a></li>
    </ul>
    
  </body>
</html>