{% load static %}
<div class="card" v-for="(video, index) in dataList" @click="playVideo" v-cloak>
    <div class="metadata">
        <image src="{% static 'images/nameplate.svg' %}" style="height: 60%;">
        <div>[[ video.title ]]</div>
        <image src="{% static 'images/message-circle.svg' %}" style="height: 50%;">
        <div>[[ video.description ]]</div>
        <image src="{% static 'images/thumbs-up.svg' %}" style="height: 50%">
        <div>[[ video.thumbsup ]]</div>
        <image src="{% static 'images/play-count.svg' %}" style="height: 60%">
        <div>[[ video.views ]]</div>
        <div>tag</div>
        <div style="display: flex;">
            <div v-for="tag in video.tags">
                [[ tag ]]
            </div>
        </div>
    </div>
    <div class="utils" style="grid-row: 2/3; display:flex; justify-content: space-evenly;">
        <div id="publicChange">
            <button :class="['public', '0'+index]" @click.stop="changePublicNPrivate" v-if="publicFlags[index]">public</button>
            <button :class="['public', '0'+index]"  @click.stop="changePublicNPrivate" v-if="!publicFlags[index]">private</button>
            <div style="position: absolute; z-index: -1;"></div>
        </div>
        <div>
            <button @click.stop="deleteVideo">delete</button>
        </div>
        <div>
            <button @click.stop="mint">mint NFT</button>
        </div>
    </div>
    <div style="grid-row: 1/3; aspect-ratio: 9 / 16; height: 100%;">
        <video class="videos" :src="blobVideos[index]" ref="videoElements"></video>
    </div>
</div>
